
<%- include('partials/header'); -%>

<h1>Home page</h1>
<p ><%= startingParagraf %></p>

 <%formContent.forEach(function(formAll) { %>
   <h1><%= formAll.title %></h1>
   <p><%= formAll.content.substring(0, 100) + " ..." %></p>
 <% }); %>

<%- include('partials/footer'); -%>
